@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
  font-family: 'Black Ops One', cursive;
  color: #39ff14;
  background-color: #01321f;
}

.App {
  text-align: left;
}

.cont{
  margin: auto;
  padding: 20px;
  width: 60%;
}

.game{
  border: 3px solid #39ff14;
  border-radius: 5px;
  margin-top: 10%;
}

.wrong{
  color: #ff0099;
}